.footer{
    text-align: center
}

.feedback_tittle {
    display: inline;
}

.link {
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    width: 5%;
    margin: 0 auto;
}

.link:visited {
    color: black;
}
